@import (reference) url(../styles/_includes/_typography.less);


html {
   scroll-padding-block-start: 96px;
}

about-texts {
   --about-texts-padding: clamp(2rem, 10vw, 4rem);
   padding: var(--about-texts-padding) calc(var(--about-texts-padding) * .5);
   //padding-block-start: ~"calc( var(--nav-hight) + clamp(2rem, 10vw, 4rem))";
   //margin-block-start: ~"calc( var(--nav-hight) * (-1px))";
   display: grid;
   justify-content: center;
   gap: var(--about-texts-padding);
   grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
   //background-image: linear-gradient(to bottom, transparent, var(--surface-main-variant), transparent);
   background-image: linear-gradient(to top, var(--surface-main-variant), transparent);
   border: 1px solid var(--border-shiny);
   border-top: none;
   overflow: visible;

   border-end-start-radius: clamp(1rem, 10vw, 4rem);
   border-end-end-radius: clamp(1rem, 10vw, 4rem);
   position: relative;
   &::before {
      content: "";
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 0;
      position: absolute;
      background-size: clamp(400px, 30vw, 600px);
      background-position: 20% 60%;
      background-repeat: no-repeat;
      background-image: var(--pattern);
      opacity: 0.2;
      //mix-blend-mode: soft-light;
   }

   p {
      .heading-l();
      display: flex;
      font-weight: 600;
      margin-block: 0;
      position: relative;
      overflow: visible;
      line-height: 1.7;
      letter-spacing: 0.01em;
      align-items: start;
      gap: .25em;

      >span {
         position: relative;
         z-index: 1;
      }

      &::before {
         display: block;
         content: "”";
         .heading-xxxl();
         line-height: 0.9;
         color: var(--text-brand-primary-variant);

      }
   }

   hr {
      height: 100%;
      margin: 0;
   }
}

products {
   display: grid;
   gap: 1rem;
   margin-block-start: 1rem;

   @media screen and (min-width: 720px) {
      grid-template-rows: auto 1fr;
      grid-template-columns: repeat(auto-fit,
            minmax(30ch, 1fr) minmax(30ch, 1fr));
   }
}

#about:not(:focus):not(:active) {
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   height: 1px;
   overflow: hidden;
   position: absolute;
   white-space: nowrap;
   width: 1px;
}

contact-container {
   display: flex;
   flex-direction: column;
   gap: 3rem;
   background-color: var(--surface-main-dim);
   //background-image: linear-gradient(.4turn, var(--surface-brand-primary-minimal), var(--surface-main-translucent));
   border-start-start-radius: var(--radius-responsive);
   border-start-end-radius: var(--radius-responsive);
   padding: var(--padding-responsive);
   padding-block-end: calc(calc(var(--padding-responsive) * 1) + var(--radius-responsive));
   margin-block-end: calc(calc(var(--padding-responsive) * -1) - var(--radius-responsive));
   margin-block-start: calc(var(--padding-responsive) * 2);
   container: contact / inline-size;

   :where(h2, h3) {
      margin: 0;
      text-align: center;
   }

   h3 {
      margin-block-end: 0;
   }
}

boxes {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 1rem clamp(1rem, 6vw, 2rem);
}

people {
   display: grid;
   justify-content: center;
   gap: clamp(1rem, 6vw, 4rem);
}

@container contact (inline-size > 700px) {
   people {
      grid-auto-flow: column;
   }
}

person {
   --person-bg: var(--surface-brand-primary-main);
   --person-color: var(--text-primary-on-brand-primary-main);
   display: flex;
   flex-direction: column;
   column-gap: inherit;
   row-gap: 1rem;

   &:nth-of-type(1) {
      --person-bg: var(--surface-navy-subtle);
      --person-color: var(--text-primary-on-navy-subtle);
      --person-link-color: var(--text-navy);
   }

   &:nth-of-type(2) {
      --person-bg: var(--surface-green-subtle);
      --person-color: var(--text-primary-on-green-subtle);
      --person-link-color: var(--text-green);
   }

   &:nth-of-type(3) {
      --person-bg: var(--surface-pink-subtle);
      --person-color: var(--text-primary-on-pink-subtle);
      --person-link-color: var(--text-pink);
   }

   p:first-of-type {
      border-radius: var(--radius-circle);
      font-weight: 800;
      display: inline-block;
      margin-inline: auto;
      inline-size: fit-content;
      background-color: var(--person-bg);
      color: var(--person-color);
      padding: 0.5ex 1ch;
      .heading-s();
      font-size: 80%;
      margin-block-start: -.5rem;
   }

   a {
      color: var(--person-link-color);
   }
}

:where(box, person) {
   p {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      gap: .25rem;
   }

   :where(span, a) {
      color: var(--text-secondary);
   }
}

address {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-block-start: .5rem;
   font-style: normal;
}

cloud-vs-local {
   display: block;
   gap: 1rem;
   grid-template-columns: auto 1fr;
   margin-block-start: var(--radius-responsive);
   gap: var(--padding-responsive);

   // background-image: var(--cloudPattern) border-box;
   // background-size: cover;
   // background-position: center 7%;
   // border: 3rem solid transparent;
   //background: linear-gradient(var(--surface-main-translucent), var(--surface-main-translucent)) padding-box, var(--cloudPattern) border-box;
   //background: linear-gradient(var(--surface-main-bright), var(--surface-main-bright)) padding-box, linear-gradient(.4turn, var(--border-contrast), var(--border-subtle)) border-box;


   ul {
      list-style: none;
      padding: 0;
      display: grid;
      gap: var(--padding-responsive-dense);

      @media screen and (width > 140ch) {
         grid-template-columns: repeat(3, 1fr);

      }

   }
}