@import "_includes/_typography.less";

:root {
    /* Typography */
    --font-stack: "Inter", system-ui, sans-serif;
    --font-stack-headings: "Plus Jakarta Sans", system-ui, sans-serif;
    --font-stack-mono: "IBM Plex Mono", monospace;
    --container-size: 1600px;

    /* Sharpiness */
    --radius: 4px;
    --radius-2x: 8px;
    --radius-3x: 20px;

    /* Spacing */
    --edge-s: 1rem;
    --edge-l: 8rem;
    --edge: var(--edge-s);

    --tag-padding: 0 0.2ch;
    --tag-margin: 0 -0.2ch;

    --header-height: 3rem;

    /* Border */
    --border-width: 2px;
    --border-style: dashed;

    --transition: all .15s ease-out;

    @media only screen and (min-width: 900px) {
       --edge: var(--edge-l);
       --header-height: 4rem;
    }
 }
 html {
    font-family: var(--font-stack);
    background: var(--surface-main);
 }

 body {
    margin: 0;
 }

 :is(main, footer) {
    inline-size: ~"min(calc(100% - var(--edge)), calc(var(--container-size) - var(--edge)))";
    margin-inline: auto;
 }

 a[href="/comparison/"] {
   display: block;
   inline-size: fit-content;
   margin-inline: auto;
   margin-block-start: 3rem;
   .font-l();
   color: var(--text-brand-primary);
   text-decoration: none;
   border: 2px solid;
   padding: 1rem;
   border-radius: var(--radius-circle);
   line-height: 1;
   background-color: var(--surface-control);
   transition: var(--transition);
   //box-shadow: var(--elevation-04);

   &:hover {
      background-color: var(--surface-brand-primary-minimal);
      //color: var(--text-primary-on-surface-brand-primary-minimal);
   }
 }