@import (reference) url(../styles/_includes/_typography.less);

body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

main {
   flex: 1;
}

header {
   --header-padding-min: 2rem;
   --header-padding-pre: 6vw;
   --header-padding-max: 5rem;

   --img-padding-min: 1rem;
   --img-padding-pre: 3vw;
   --img-padding-max: 2.5rem;

   display: grid;
   margin-block-start: 1rem;
   grid-template-columns: 1fr;
   gap: clamp(1rem, 10vw, 2rem);
   padding: clamp(var(--header-padding-min), var(--header-padding-pre), var(--header-padding-max));
   background-color: var(--headerBg);
   border-radius: clamp(var(--header-padding-min), var(--header-padding-pre), var(--header-padding-max));
   background-image: var(--pattern);
   background-size: cover;

   @media screen and (width > 110ch) {
      & {
         gap: clamp(1rem, 10vw, 3rem) 5ch;
         grid-template-columns: 40ch 1fr;
      }
   
   }
}

header-texts {
   display: flex;
   flex-direction: column;
   gap: inherit;
}

header h1 {
   margin: 0;
   color: var(--headingColor);
}

header img {
   justify-self: center;
   align-self: center;
   block-size: auto;
   max-inline-size: 100%;
   padding: 1rem;
   border: clamp(var(--img-padding-min), var(--img-padding-pre), var(--img-padding-max));
   border-radius: clamp(var(--img-padding-min), var(--img-padding-pre), var(--img-padding-max));

   &.eniterm {
      opacity: .2;
   }

   @media screen and (min-width: 110ch) {
      & {
         inline-size: auto;
         //max-block-size: 500px;
      }
   
   }
}


header h1 + p {
   font-size: var(--font-size-l);
   font-weight: var(--text-weight);
   line-height: 1.5;
   margin: 0;
   color: var(--headerColor);
   .heading-l();
}

product-texts {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
   gap: 2em;
   margin-block: 2em;
}

product-texts p {
   line-height: 1.5;
}

a {
   color: var(--text-brand-primary);
}

ul {
   list-style: none;
   padding: 0;
   display: grid;
   gap: 1rem;
   grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr) );
}