@import (reference) url(../styles/_includes/_typography.less);

header {
   display: grid;
   margin-block-start: 1rem;
   grid-template-columns: 1fr;
   gap: clamp(1rem, 10vw, 2rem);
   grid-template-areas: "title" "text" "image";
   padding: clamp(1rem, 10vw, 6rem);
   background-color: var(--headerBg);
   border-radius: clamp(1rem, 10vw, 2rem);
   background-image: var(--pattern);
   background-size: cover;
   background-blend-mode: luminosity;


   @media screen and (width > 110ch) {
      & {
         gap: clamp(1rem, 10vw, 3rem) 5ch;
         grid-template-columns: 38ch 1fr;
         grid-template-areas: "title image" "text image";
         grid-template-rows: min-content 1fr;
      }
   
   }
}

h1 {
   grid-area: title;
   margin: 0;
   color: var(--headingColor);
}
img {
   grid-area: image;
   justify-self: center;
   align-self: center;
   block-size: auto;
   max-inline-size: 100%;

   @media screen and (min-width: 110ch) {
      & {
         inline-size: auto;
         max-block-size: 500px;
      }
   
   }
}


h1 + p {
   grid-area: text;
   font-size: var(--font-size-l);
   font-weight: var(--text-weight);
   line-height: 1.5;
   margin: 0;
   color: var(--headerColor);
   .heading-l();
}

product-texts {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
   gap: 2em;
   //padding-block: 2em;
   margin-block: 2em;
   //background-image: linear-gradient(to left, transparent, var(--surface-main-variant), transparent) ;
   //border-block: 1px solid var(--border);
}

product-texts p {
   //font-size: var(--font-size-l);
   line-height: 1.5;
   //margin-inline-start: 15%;

   // padding: 2rem;
   // border-radius: var(--radius-strong);
   // background-color: var(--surface-main-bright);
   // border: 1px solid var(--surface-brand-secondary-strong);
   // box-shadow: 0 4px 8px -2px var(--surface-brand-secondary-subtle);

   // &:nth-of-type(2n) {
   //    margin-inline-start: 30%;
   // }
}

a {
   color: var(--text-brand-primary);
}

ul {
   list-style: none;
   padding: 0;
   display: grid;
   gap: 1rem;
   grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr) );
   grid-auto-rows: 1fr;
}

// li {
//    grid-row-end: span 3;
// }

// li:nth-child(1) {
//    grid-row-start: 1;
// }

// li:nth-child(2) {
//    grid-row-start: 2;
// }

// li:nth-child(3) {
//    grid-row-start: 1;
// }

// li:nth-child(4) {
//    grid-row-start: 3;
// }

// li::before {
//    content: "●";
//    font-size: smaller;
//    text-shadow:
//       0 2px 4px var(--surface-brand-secondary-moderate),
//       0 4px 8px var(--surface-brand-secondary-subtle);
//    color: var(--surface-brand-secondary-strong);
//    margin-inline-end: 1ch;
// }