header {
   display: grid;
   margin-block-start: clamp(2rem, 10vw, 6rem);
   grid-template-columns: minmax(0, 50ch) 1fr;
   gap: clamp(1rem, 10vw, 2rem);
   grid-template-areas: "title ." "text ." "image image";
}
@media screen and (min-width: 110ch) {
   header {
      gap: clamp(1rem, 10vw, 3rem) clamp(1rem, 10vw, 6rem);
      grid-template-columns: 38ch 1fr;
      grid-template-areas: "title image" "text image";
      grid-template-rows: min-content 1fr;
   }
}
h1 {
   grid-area: title;
   margin: 0;
}
img {
   grid-area: image;
   max-inline-size: 100%;
   block-size: auto;
   justify-self: center;
}

h1 + p {
   grid-area: text;
   font-size: var(--font-size-l);
   font-weight: var(--text-weight);
   line-height: 1.5;
   margin: 0;
}

product-texts {
   display: grid;
   grid-auto-flow: column;
   grid-auto-columns: 40ch;
   gap: 2em;
}

product-texts p {
   display: inline-flex;
   //font-size: var(--font-size-m);
   line-height: 1.5;
   //margin-inline-start: 15%;

   padding: 2rem;
   border-radius: var(--radius-strong);
   background-color: var(--surface-main-bright);
   border: 1px solid var(--surface-brand-secondary-strong);
   box-shadow: 0 4px 8px -2px var(--surface-brand-secondary-subtle);

   // &:nth-of-type(2n) {
   //    margin-inline-start: 30%;
   // }
}

a {
   color: var(--text-brand-primary);
}

ul {
   list-style: none;
   padding: 0;
   display: grid;
   gap: 1rem;
   grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr) );
   grid-auto-rows: 1fr;
}

// li {
//    line-height: 1.5;
// }

// li::before {
//    content: "●";
//    font-size: smaller;
//    text-shadow:
//       0 2px 4px var(--surface-brand-secondary-moderate),
//       0 4px 8px var(--surface-brand-secondary-subtle);
//    color: var(--surface-brand-secondary-strong);
//    margin-inline-end: 1ch;
// }