product {
   padding: 2em;
   border-radius: var(--radius-strong);
   background-color: var(--productCardBg);
   color: var(--productCardColor);
   border: 2px solid var(--product-border);
   background-image: var(--pattern);
   position: relative;
   display: grid;
   grid-template-rows: subgrid;
   grid-template-columns: subgrid;
   grid-row: span 2;
   cursor: pointer;
   background-repeat: no-repeat;
   // background-position: 90% 90%;
   // background-size: 33%;
   background-blend-mode: luminosity;
   box-shadow: 0 8px 16px -2px var(--product-shadow), 0 2px 4px -1px var(--product-shadow);
   transition: var(--transition);
   //background-image: url("../assets/img/pattern-2.png");
   background-size: cover;
   outline: 4px solid transparent;
   outline-offset: 2px;
   
   &:hover {
      
      background-blend-mode: hard-light;
      background-color: var(--productCardBgHover);
      outline-color: var(--productCardBg);
      outline-offset: 4px;

   //    a[href] {
   //       text-decoration: underline;
   //       text-decoration-thickness: 2px;
   //    }
   }


   h3 {
      margin-block: 0;
      grid-row-start: 1;
      color: inherit;
      font-size: var(--font-size-xxl);
      text-wrap: balance;
      max-inline-size: 5ch;
   }


   a[href] {
      color: inherit;
      text-decoration: none;
   }

   >a {
      //position: absolute;
      grid-row: ~"1 / -1";
      grid-column: ~"1 / -1";
   }

   p {
      line-height: 1.5;
      letter-spacing: 0.04ch;
      margin-block: 0;
      max-inline-size: 45ch;
   }
}