---
import Layout from "../layouts/Index.astro";
---

<Layout title="Principles - SIMS SW" nav={false}>
   <main>
      <h1>Principles of personal data processing</h1>
      <p>
         Our company SW SIMS safety, s.r.o. (hereinafter the company) with
         registered office at Na Výsluní 477, 783 61 Hlubočky, registered in the
         commercial register maintained by the Regional Court in Ostrava, C
         45129/KSOS, hereby informs you about the manner and extent of
         processing personal data and user data. When processing personal data,
         it proceeds in accordance with the following legal regulations:
      </p>
      <ul>
         <li>
            Regulation of the European Parliament and the EU Council 2016/679 of
            27/04/2016 on the protection of natural persons in connection with
            the processing of personal data and on the free movement of such
            data, which entered into force on 25/05/2018 (hereinafter GDPR).
         </li>
         <li>
            Act No. 110/2019 Coll., on the processing of personal data of
            12/03/2019, which entered into force on 24/04/2019, replaced Act No.
            101/2000 Coll. on the protection of personal data.
         </li>
         <li>Act on Certain Information Society Services No. 480/2004 Coll.</li>
         <li>Civil Code No. 89/2012 Coll.</li>
         <li>Alternatively, in accordance with other regulations.</li>
      </ul>
      <p>
         We store and process personal data within the EU and at the same time
         take the necessary steps to ensure the correct handling and storage of
         personal data.
      </p>
      <p>
         Our company processes personal data (name, surname, email, phone
         number) when creating a new user account, which the user logs into the
         application with. The user can cancel his user account at any time and
         all personal data will be deleted from the database.
      </p>
      <p>
         We also receive data on our cloud server in the form of messages from
         various security devices (EZS, PZS, communicators, ...) for the purpose
         of guarding property.
      </p>
   </main>
</Layout>

<style lang="less">
   :root {
      --container-size: 80ch;
   }

   :where(p, li) {
      line-height: var(--line-height-text);
   }

   body {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
   }

   main {
      flex: 1;
   }
</style>
