---
/* 
Patička
Připojuje se do všech stránek
*/
---
<script>
   // Get the current year
   var currentYear = new Date().getFullYear();

   // Find the element with id="copyright"
   var copyrightElement = document.getElementById("copyright");

   // Check if the element exists and if textContent is not null before updating its content
   if (copyrightElement && copyrightElement.textContent !== null) {
      // Update its content to include the current year
      copyrightElement.textContent += currentYear;
   } else {
      console.error(
         "Element with id 'copyright' not found or textContent is null.",
      );
   }
</script>

<footer>
   <footer-content>
      <p>
         <a href=`${import.meta.env.BASE_URL}principles/`>Principles of personal data processing</a>
      </p>
      <p>
         <span id="copyright"></span><span>&ensp;© SW SIMS safety s.r.o</span>
      </p>
   </footer-content>
</footer>

<style>
   footer {
      padding-block-start: var(--padding-responsive);
      color: var(--text-secondary-on-surface-brand-primary-subtle);
      position: relative;
   }
   footer-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
)      margin-inline: auto;
      padding: var(--padding-responsive);
      background-image: linear-gradient(to bottom, var(--surface-base), transparent);
      border-start-start-radius: var(--radius-responsive);
      border-start-end-radius: var(--radius-responsive);
   }

   p {
      margin: 0;
   }

   a {
      color: inherit
   }
</style>
